/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    background-color: rgb(204, 201, 201);
}

/* estilos para mobile */
header{
    font-size: 1.5rem;
    margin-bottom: 98px;
}

header .bg-color{
    background-color: rgb(58, 58, 58);
}

header .logo{
    width: 60%;
}

.animacion-logo{
    opacity: 0;
    animation: my-animation 4s infinite;
}
@keyframes my-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

header .header{
    height: 50%;
}

.carrusel{
    height: 5rem;
}

.cover-uno{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/tienda.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: whitesmoke;
}

/* estilos de main */

h1{
    text-align: center;
    margin: 1.5rem;
    text-decoration: underline;
}

h4{
    margin: 2rem 0 0 1rem;
}

.bienvenido{
    text-align: center;
    margin: 1rem;
}

.p-inicio{
    text-align: center;
}

.img-inicio{
    width: 70%;
    max-height: 300px;
    object-fit: cover;
    margin: 1rem;
}

.btn-mas{
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #6d6565, #2c2a2a);
    color: whitesmoke;
    padding: 5px;
}

.btn-mas-dos{
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #6d6565, #2c2a2a);
    color: whitesmoke;
    padding: 5px;
}

.ult-img{
    margin-bottom: 3rem;
}

.pronto{
    display: none;
}

.container{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.tarjeta{
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
    height: 190px;
    margin: 20px 0px 20px 0;
}

.img-card{
    width: 150px;
    max-height: 350px;
}

.tarjeta{
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cover-dos{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/reparacion-uno.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: whitesmoke;
}

.img-atencion{
    display: none;
}

.contenedor{
    display: flex;
    align-items: center;
    text-align: center;
}

.img-rep{
    margin: 1rem 0.5rem;
    width: 15rem;
    object-fit: cover;
}

.reporte{
    display: grid;
}

.boton-enviar{
    margin-bottom: 5rem;
}

.contact{
    margin: 2rem 0 0 0;
}

.contact-uno{
    display: flex;
    align-items: center;
}

.about-us{
    width: 100%;
    margin-bottom: 2rem;
}

.titulo-about-us{
    margin-top: 8rem;
}


footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    text-align: center;
    background-color: rgb(58, 58, 58);
    padding-top: 1rem;
    margin-top: 2rem;
    color: whitesmoke;
}


/* estilos para tablet */

@media screen and (min-width: 600px){
    .cover{
        margin-top: 6.3rem;
    }

    main{
        margin-bottom: 5rem;
    }

    main .img-inicio{
        width: 65%;
    }

    p{
        font-size: 1.5rem
    }

    .pronto{
        display: flex;
    }

    .coming-soon{
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }

    .carrusel{
        height: 10rem;
    }

    .container{
        width: 100vw;
        display: flex;
        flex-direction: row;
    }

    .tarjeta{
        max-width: 45%;
        height: 250px;
        margin: 1rem;
    }

    .img-rep{
        width: 500px;
    }
    
    .img-atencion{
        display: flex;
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: top;
        margin-bottom: 3rem;
    }

    .boton-enviar{
        width: 20%;
    }

    footer{
        position: fixed;
    }
}

/* estilos para desktop */

@media screen and (min-width: 1024px){

    main{
        height: 85vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
        margin-bottom: 14rem;
    }

    main .img-uno{
        background-image: url(../img/reparacion-tres.png);
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
    }

    main .img-dos{
        grid-row: span 2;
        background-image: url(../img/contacto.png);
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
    }

    main .img-tres{
        background-image: url(../img/16pro.png);
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
    }

    .btn-mas{
        margin: 7rem 0 0 17rem;
    }

    .btn-mas-dos{
        margin: 15rem 0 0 18rem;
    }

    .p-inicio{
        width: 200%;
    }

    h4{
        display: none;
    }

    .container-inicio{
        border: 2px solid black;
    }

    .img-inicio{
        display: none;
    }

    .carrusel{
        height: 16rem;
    }

    footer{
        position:initial;
    }
}