main{
    div{
        .img-atencion{
            display: none;
        }
        .contact-uno{
            display: flex;
            align-items: center;
        }
        .contact{
            margin: 2rem 0 0 0;
        }
    }     
    .boton-enviar{
        margin-bottom: 5rem;
    }   
}