main{
        .titulo-about-us{
            margin-top: 8rem;
            text-align: center;
            text-decoration: underline;
        }
        div{
        .about-us{
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}

