//import de variables
@import "variables";

//mixin para cover
@mixin cover ($url){
    background-image: $url;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-color: $color-transparencia;
    background-blend-mode: darken;
    color: $smoke;
}

@mixin cover-desktop($url){
    background-image: $url;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-color: $color-transparencia;
    background-blend-mode: darken;
}

@mixin btn-mas($margin){
    margin: $margin;
}
